body {
  font-family: monospace;
}

#comment-input {
  margin: 2%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 2px;
  display: inline-block;
}
#comment-display {
  margin: 2%;
}
#comment {
  margin: 1%;
}